login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(20, 169, 196, 0.541);
    padding-bottom: 56px;
    border-radius: 20px;
    margin-top: 3px;
   }
   #heading{
    font-size: 34px;
    font-family: serif;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
   }
   .form{
    display: flex;
    border-radius: 20px;
    flex-flow: column wrap;
    align-items: center;
    margin: 50px 500px 0px 500px;
    padding: 50px 0px 20px 0px;
    background-color: rgba(83, 14, 243, 0.534);
   }
   .form #dp{
    position: relative;
    left: 120px;
    bottom: 15px;
   }
   .form #dp img{
    width: 30%;
    height: 15%;
   }
   .form input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 90px;
    font-size: 16px;
    background: #7ec3eb;
    transition: background 1s,color 1s;
    color: rgb(155, 14, 236);
    border-radius: 20px;
    cursor: pointer;
   }
   .form input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    width: 90px;
    font-size: 16px;
    background: #1c1274;
    transition: background 1s,color 1s;
    color: rgb(17, 48, 226);
    border-radius: 20px;
    cursor: pointer;
   }
   .form input[type="button"]:hover{
    background: rgb(71, 10, 212);
    color: black;
   }
   .form input[type="submit"]:hover{
    background: rgb(4, 7, 214);
    color: black;
   }
   .form .forgot a{
    color: #2c143f;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
   }
   .form input[type="text"],
   .form input[type="password"]{
    border:none;
    outline: none;
    height: 40px;
    color: #060764;
    border-bottom: 2px solid #2a058f;
    background: transparent;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: bold;
   }
   .form input[type="text"]:focus,
   .form input[type="password"]:focus{
    border-bottom: 2px solid rgb(45, 7, 150);
   }
   